@model TransaccionActualizacionViewModel
@{
    ViewData["Title"] = "Editar Transaccion";
    var linkCancelar = Model.UrlRetorno ?? Url.Action("Index");
}

<h1>Edita su transacción</h1>
<h5>Una transaccion indica ingresos y gastos</h5>
<form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="MontoAnterior" />
    <input type="hidden" asp-for="CuentaAnteriorId" />
    <input type="hidden" asp-for="UrlRetorno" />
    <div class="mb-3">
        <label asp-for="FechaTransaccion" class="form-label"></label>
        <input asp-for="FechaTransaccion" class="form-control" style="color:black !important" />
        <span asp-validation-for="FechaTransaccion" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CuentaId" class="form-label"></label>
        <select asp-for="CuentaId" asp-items="Model.Cuentas" class="form-select" style="color: black !important"></select>
        <span asp-validation-for="CuentaId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TipoOperacionId" class="form-label"></label>
        <select asp-for="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()" class="form-select" style="color: black !important"></select>
        <span asp-validation-for="TipoOperacionId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoriaId" class="form-label"></label>
        <select asp-for="CategoriaId" class="form-select" style="color: black !important"></select>
        <span asp-validation-for="CategoriaId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Monto" class="form-label"></label>
        <input asp-for="Monto" class="form-control" style="color:black !important" />
        <span asp-validation-for="Monto" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Nota" class="form-label"></label>
        <textarea asp-for="Nota" class="form-control" style="color:black !important"></textarea>
        <span asp-validation-for="Nota" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <button asp-action="Borrar" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" href="@linkCancelar">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/FormularioTransacciones.js" asp-append-version="true"></script>
    <script>
        const URLOBTENERCATEGORIAS = '@Url.Action("ObtenerCategorias")';
        $(function () {
            inicializarFormularioTransacciones(URLOBTENERCATEGORIAS);
        })
    </script>
}